<!-- CSS media query on a link element -->
<link rel="stylesheet" media="(max-width: 800px)" href="mq.css" />

<!-- CSS media query within a style sheet -->
<style>



/* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= /
/ RESPONSIVE
   ========================================================================= /
/ Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) { }
 

 
 
 /* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 1024px) { }
 

 
 
 /* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) { 
header {
  background-color: #A9A9AD;
  color: #000000;
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
}

nav{
	float: left;      
	width: 100%;		
}

nav ul{
	position:relative;
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

nav ul li{
	background-color: #5E5E5E;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
}

nav ul li:hover{
background-color: #A9A9AD;
    border:1px solid #999999;
}


nav ul li a{
    color:#999999;
    display:block;
    padding:10px;
    text-decoration:none;
}


nav ul li a:hover {
    color:#000;
}

section{
	   float: left; 	   
	   width: 70%;
}

aside{
	float: left;    
	width: 30%;	
}


footer {
  background-color: #A9A9AD;
  color: #000000;
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;	
  float: left; 
  width: 98%;	
}







}  






}

</style>